<div class="newGame" routerLinkActive="newGame">
    <form class="newGameForm" [formGroup]="newPlayerForm" (ngSubmit)="onSubmit()">
      <span class="newGameLabel">
        <label>
          First Name
          <input value="bob" type="text" formControlName="firstName">
        </label>
        <label>
          Last Name
          <input type="text" formControlName="lastName">
        </label>
        <button type="submit" [disabled]="!newPlayerForm.valid">Start</button>
      </span>
    </form>
  </div>
  